---

---

<script is:inline>
    // Cybersecurity redirect: Unauthorized/Non-existent route protection
    window.location.replace("/");
</script>
<title>Redirecting...</title>
<meta http-equiv="refresh" content="0;url=/" />
